body{
    margin: 0em;
	background-color:white;
    font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
    padding:0;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

p{
	color: #302d2e;
	margin-top: 2%;
	margin-bottom: 2%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: normal;

}

a {
	text-decoration: none;
	color: #302d2e;
	font-family: 'Lato', sans-serif;
	font-size: 150%;
}

a:visited {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

#home-section {
	height: 100vh;
	width: 100vw;
	background-color: white;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
	z-index: 1;
}

#text-container {
	padding: 100px;
}

.title {
	text-align: center;
    text-decoration: none;
	color: #535353;
	font-weight: 400;
	font-size: 350%;
}

.header{
	color: #535353;
	font-weight: 400;
	min-width: 100%;
	font-size: 300%;
	padding: 20%;
}

#app {
	font-size:150%;
	font-family: 'Roboto Mono', monospace;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
	justify-content: center;
	margin: 0;
}

.column {
	flex-direction: column;
}

.row{
	flex-direction: row;
}

.arrow {
	border: solid black;
	border-color: #575757;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 10px;
	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
  	transition: 0.3s;
  	animation: bounce 3s infinite;
	margin-left: 10%;
}

#page-arrow{
	position: absolute;
	right: 5%;
	top: 55%;
}

.arrow:hover {
	-webkit-animation-play-state: paused;
	opacity: 60%;
	transform: scale(1.25);
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateX(0) rotate(-45deg);
	}
	40% {
	  transform: translateX(-30px) rotate(-45deg);
	}
	60% {
	  transform: translateX(-15px) rotate(-45deg);
	}
  }

  #about-section, #education-section, #project-section {
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size:cover;
	min-height: 100vh;
	min-width: 100%;
	position: absolute;
	z-index: 0
  }

  #about-section:target, #education-section:target, #project-section:target, #home-section:target {
	z-index: 1;
  }


#hello-img{
	max-height: 55%;
	max-width: 55%;
	position: absolute;
	top: 30%;
	left: 5%;
	margin: 0;
}

#edu-img{
	max-height: 30%;
	max-width: 30%;
	position: absolute;
	top: 30%;
	left: 28%

}

#insta-img{
	position: absolute;
	top: 30%;
	left: 54%;
}

#linkedin-img{
	max-width: 15%; 
	max-height:15%;
	position: absolute;
	bottom: 20%;
	left: 29%;

}

#github-img{
	max-width: 15%; 
	max-height:15%;
	position: absolute;
	bottom: 20%;
	left: 40%;
}

#spotify-img{
	max-width: 15%; 
	max-height:15%;
	position: absolute;
	top: 32%;
	right: 15%;
}

#resume-img{
	max-width: 23%; 
	max-height: 23%;
	position: absolute;
	bottom: 20%;
	right: 13%;
}


#linkedin-img:hover, #resume-img:hover, #github-img:hover, #spotify-img:hover, #file-img:hover{
	opacity: 50%;
}

#frame{
	position: relative;
	align-content: center;
	width: 45%;
	height:45%;
}

#iframe-edu{
	position: absolute;
	min-height: 46.5%; width: 42%;
	top: 36.8%;
	left: 27.8%;
}

#file-img{
	position: relative;
	height:30%;
	width:30%;
	padding: 5%;
}

#project-row {
	width: fit-content;
	margin-left: 25%;
	margin-right:15%;
	align-items: center; 
	justify-content: center;
	align-content: center;
	display: inline-block;
}