body{
    margin: 0em;
	background-color:white;
    font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
    padding:0;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

p{
	color: #302d2e;
	margin-top: 2%;
	margin-bottom: 2%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: normal;
}

#home-section {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-color: white;
	flex-wrap: wrap;
	position: absolute;
	z-index: 1;
}

#text-container {
	padding: 100px;
}

.title {
	text-align: center;
    text-decoration: none;
	color: #535353;
	font-weight: 400;
	font-size: 350%;
}

.header{
	color: #535353;
	font-weight: 400;
	min-width: 100%;
	font-size: 300%;
	padding: 20%;
}

#app {
	font-size:150%;
	font-family: 'Roboto Mono', monospace;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
	justify-content: center;
	max-width: 100vw;
}

.column {
	flex-direction: column;
}

.row{
	flex-direction: row;
}

.arrow {
	border: solid black;
	border-color: #575757;
	border-width: 0 3px 3px 0;
	padding: 10px;
	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
  	transition: 0.3s;
  	animation: bounce 3s infinite;
}

#relative {
	position: relative;
	margin-left: 200px;
}

.arrow:hover {
	-webkit-animation-play-state: paused;
	opacity: 60%;
	transform: scale(1.25);
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateX(0) rotate(-45deg);
	}
	40% {
	  transform: translateX(-30px) rotate(-45deg);
	}
	60% {
	  transform: translateX(-15px) rotate(-45deg);
	}
  }

#about-section, #education-section, #project-section {
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size:cover;
	min-height: 100vh;
	min-width: 100%;
	position: absolute;
	z-index: 0;
  }

#about-section:target, #education-section:target, #project-section:target, #home-section:target {
	z-index: 1;
}

.grid {
	display: grid;
	grid-template-columns: 500px, 200px, 200px, 500px, 100px, 100px;
	grid-template-rows: 100px, auto;
	column-gap: 40px;
}

.arrow-section {
	grid-column-start: 5 / 6;
	grid-row-start: 1;
	grid-row-end: span 2;
	align-self: center;
	padding-left: 20px;
	
}

.intro-box {
	grid-row-start: 1;
	grid-row-end: span 2;
}

.edu-box {
	grid-column-start: 2;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.linkedin {
	grid-column: 2 / 3;
}

.github {
	grid-column: 3 / 4;
}

.slide-gallery {
	grid-column: 4 / 5;
	grid-row-start: 1;
	grid-row-end: span 2;
}

.spotify {
	grid-column: 5 / 6;
	grid-row: 1;
}

.resume {
	grid-column: 5 / 6;
	grid-row: 2;
}

#slideshow-img {
	max-height: 400px;
	max-width: 500px;
}

#hello-img{
	max-height: 400px;
}

#edu-img{
	max-height: 225px;
	max-width: 300px;
}

#insta-img{
	max-width: 400px; 
	max-height: 500px;
}

#social-icon {
	max-width: 120px; 
	max-height: 120px;
}

#resume-img{
	max-width: 150px; 
	max-height: 150px;
}

#social-icon:hover, #resume-img:hover, #file-img:hover{
	opacity: 50%;
}

#console {
	font-family: monospace;
	font-size: 15px;
	font-weight: 500;
	background-color: #302d2e;
	color: white;
	overflow-y:auto;
	line-height: 20px;
	height: 50vh;
	width: 45vw;
	border-top: 20px solid #e5e5e5;
	border-radius: 4px;
	box-shadow: 12px 12px 1px #9eb8ce;
	margin-left: 250px;
}

label {
	color: #f49e67;
}

#file-img {
	max-height:175px;
	max-width:240px;
	padding: 50px;
}